:root {
    -noir: #000000;

    --orange1: #F2CB05;
    --orange1Hover: #D5B204;
    --orange1Actif: #B89A04;

    --orange2: #F29F05;
    --orange2Hover: #D58C04;
    --orange2Actif: #B87904;

    --orange3: #F28705;
    --orange3Hover: #D57704;
    --orange3Actif: #B86704;

    --bleu: #A1DFF5;
    --bleuHover: #8EC4D8;
    --bleuActif: #7BAABB;

    --headerBackground: linear-gradient(to bottom, var(--orange3), var(--orange2), var(--orange1));

    --background: #1D594E;
    --backgroundHover: #143c35;
    --backgroundActif: #0A1F1B;

    --fieldBackground: #277365;
    --fieldBackgroundHover: #1D564B;
    --fieldBackgroundActif: #133832;

    --radiusContainer: 10px;
    --fieldRadius: 1px;
    --paddingFields: 5px;
}

body {
    font-family: sans-serif;
    margin: 0;
    background: linear-gradient(#141e30, #243b55)
}

header {
    background: var(--headerBackground);
    height: 110px;
    width: 100%;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
}

main {
    color: #fff;
}

.centeredMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    height: 80vh;
    width: 100%;
    flex-direction: column;
}

.userFormContainer {
    width: 50vh;
    height: 50vh;
    background: var(--headerBackground);
    padding: 3px;
    border-radius: var(--radiusContainer);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
}

.userForm {
    background: linear-gradient(#141e30, #243b55);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--radiusContainer);
    color: #fff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
}

input {
    background: none;
    color: #fff;
    border-radius: var(--fieldRadius);
    text-align: center;
    width: 80%;
    height: 28px;
    border-bottom: #fff, solid;
    border-top: none;
    border-left: none;
    border-right: none;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--paddingFields);
    padding-bottom: var(--paddingFields);
    width: 100%;
}

.inputHover {
    background: var(--fieldBackgroundHover);
}

.inputActif {
    background: var(--fieldBackgroundActif);
}

.headerLeft {
    width: 100%
}

.headerRight {
    width: 100%
}

.headerCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    color: black;
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
}

.footerCenter {
    background: var(--headerBackground);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background: none !important;
    border: none;
    padding: 0 !important;
    font-family: arial, sans-serif;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.tableWrapper {
    table-layout: fixed;
    width: 80%;
    border: 2px solid #fff;
    height: 80%;
    overflow-y: auto;
}

.tableWrapper thead th {
    position: sticky;
    top: 0;
    background: linear-gradient(#141e30, #243b55)
}

table {
    width: 100%;
    border-collapse: collapse;
}

tbody td {
    text-align: center;
}

th,
td {
    padding: 20px;
}

tbody tr:nth-child(odd) {
    background-color: #141e30;
}

tbody tr:nth-child(even) {
    background-color: #243b55;
}

th {
    position: absolute;
}